<main>
    <section class="text-center container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gaming</li>
            </ol>
        </nav>
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Gaming</h1>
                <p class="lead text-body-secondary">Turrbobuy is the number one store for the avid gamer! Whether you prefer to play on a game console or a computer, you can find everything for both worlds from us, from games to gaming mice, keyboards, headphones and other equipment.</p>
            </div>
        </div>
    </section>
    <partial name="_CatalogLayout" />
</main>