@{
    ViewData["Title"] = "Hobbies and free time";
}

<main>
    <section class="text-center container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item fw-bolder active" aria-current="page">Hobbies and free time</li>
            </ol>
        </nav>
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Hobbies and free time</h1>
                <p class="lead text-body-secondary">At turrbobuy, you can find tools and gadgets to fulfill the passions of both children and adults, whether they are related to sports, travel or well-being.</p>
            </div>
        </div>
    </section>
    <partial name="_CatalogLayout" />
</main>