<main>
    <section class="text-center container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Phones and tablets</li>
            </ol>
        </nav>
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Phones and tablets</h1>
                <p class="lead text-body-secondary">Phones, tablets, smart watches and accessories for every need from Turrbobuy! Whether you're looking for a phone for your child or yourself, a sports watch, a tablet for effortless surfing, or a protective glass film, you'll find them from us.'</p>
            </div>
        </div>
    </section>
    <partial name="_CatalogLayout" />
</main>