<main>
    <section class="text-center container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item fw-bolder active" aria-current="page">Picture and sound</li>
            </ol>
        </nav>
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Picture and sound</h1>
                <p class="lead text-body-secondary">In addition to the fact that our selection offers equipment related to image and sound reproduction for even the most passionate hi-fi enthusiasts, the selection also includes equipment for more modest viewing and listening experiences.</p>
            </div>
        </div>
    </section>
    <partial name="_CatalogLayout" />
</main>