<main>
    <section class="text-center container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Technology</li>
            </ol>
        </nav>
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Technology</h1>
                <p class="lead text-body-secondary">In the Turrbobuy selection, there is technology for every departure. So if the search includes a computer or its peripherals, you will find them.</p>
            </div>
        </div>
    </section>
    <partial name="_CatalogLayout" />
</main>