<!-- Views/ShoppingCart/Index.cshtml -->
@model List<online_store_app.Models.ShoppingCart>

<h1>Shopping Cart</h1>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var cart in Model)
        {
            @foreach (var item in cart.Items)
            {
                <li>@item.Name - @item.AdjustedPrice</li>
            }
        }
    </ul>
}
else
{
    <p>Your shopping cart is empty.</p>
}
